@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Orbitron&family=Source+Sans+Pro&display=swap");
.school {
  font-family: "orbitron";
  font-size: 1.4rem;
  font-weight: 800;
  color: whitesmoke;
}
.degree {
  font-size: 1rem;
  font-weight: 800;
  color: #1c1c1c;
  text-transform: uppercase;
}
.year {
  font-size: 1rem;
  padding: 10px 10px;
  color: whitesmoke;
}
