@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Orbitron&family=Source+Sans+Pro&display=swap");
.school {
  font-family: "orbitron";
  font-size: 1.4rem;
  font-weight: 800;
  color: whitesmoke;
  padding-left: 12em;
}
.degree {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: 800;
  color: var(--standout-color);
  text-transform: uppercase;
  padding-left: 14em;
}
.year {
  font-size: 1rem;
  padding: 24em 24em;
  color: whitesmoke;
}

@media all and (max-width: 786px) {
  .school {
    padding-left: 0.3rem;
    font-size: 3vh;
  }
  .degree {
    padding-left: 0.2rem;
    font-size: 2vh;
  }
  .year {
    padding: 0 0.5rem;
  }
}
