@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Orbitron&family=Source+Sans+Pro&display=swap");
.app {
  justify-content: center;
  color: whitesmoke;
}
.card-wrapper {
  background-color: none;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
