@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Orbitron&family=Source+Sans+Pro&display=swap");
.company {
  font-family: "orbitron";
  font-size: 1.5rem;
  font-weight: 800;
  color: whitesmoke;
  padding-left: 15%;
}
.position {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: 800;
  color: var(--standout-color);
  text-transform: uppercase;
  font-style: oblique;
  padding-left: 15%;
}
.years {
  padding-left: 15%;
  font-size: 1rem;
  padding: 10px 10px;
  text-decoration: none;
  color: whitesmoke;
  padding-left: 15%;
}
.desc li {
  color: whitesmoke;
  padding: 10px 10px;
  padding-left: 20%;
  display: flex;
  list-style-type: none;
}

@media all and (max-width: 786px) {
  .company {
    font-size: 1rem;
  }
  .position {
    font-size: 0.5rem;
  }
  .years {
    font-size: 0.4rem;
  }
  .desc li {
    font-size: 0.4rem;
    justify-content: left;
    padding: 0 1rem;
  }
}
