@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Orbitron&family=Source+Sans+Pro&display=swap");
.company {
  font-family: "orbitron";
  font-size: 1.5rem;
  font-weight: 800;
}
.position {
  font-size: 1rem;
  font-weight: 800;
  color: #1c1c1c;
  text-transform: uppercase;
  font-style: oblique;
}
.years {
  font-size: 1rem;
  padding: 10px 10px;
  text-decoration: none;
}
